
.bgpicture {
    background-image: url("/images/test.jpg"); 
    background-size: cover;
    height: 400px;
}

.filmhero {
    height: 500px;
    background-size:cover;
}

.posterpath {
    margin-top: 320px;
    display: grid;
    grid-template-columns: 342px 600px 500px;
    grid-template-rows: auto;
    grid-template-areas: 
    
    "poster movietext trailer"
    ". cast ."
    "actors actors actors"
    "reviewcontent reviewcontent reviewcontent"
    "createreviews createreviews createreviews"
    ;
    grid-gap: 25px ;
}

.reviewcontent {
    grid-area: reviewcontent;
    display: grid;
    grid-template-columns: auto;
}

.createreviews {
    grid-area: createreviews;
}

.reviews {
    display: grid;
}


.poster {
    grid-area: poster;
}

.movietext {
    grid-area: movietext;
    align-self: end;
}

.trailer {
    grid-area: trailer;
    align-self: end;
}

.actors {
    grid-area: actors;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    justify-items: center;
}

.cast {
    display: grid;
    grid-area: cast;
    justify-items: center;
}

.flex {
    display: flex;
}

.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.moviecontent {
    display: grid; 
    grid-template-columns: 1fr 1fr ;
}

.upcoming {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
}

.nowplaying {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
}

@media screen and (max-width: 1270px) {
    .posterpath {
        margin-top: 300px;
        display: grid;
        grid-template-columns: 350px;
        grid-template-rows: auto;
        grid-template-areas: 
        "poster"
        "movietext"
        "trailer"
        "cast"
        "actors"
        "reviewcontent"
        "createreviews";
        grid-gap: 25px ;
    }

    .actors {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 1080px) {
    .moviecontent {
        grid-template-columns: 1fr;
    }
}